.stack-work/
.ghc.environment.*
/cabal.project.diff
/cabal.project.local
/cabal.project.old
configuration/defaults/simpleview/genesis/
configuration/defaults/liveview/genesis/
/dist-newstyle/
dist/
*~
\#*
\.#*
*.swp
.dir-locals.el
/result*
/launch-*
.stack-to-nix.cache
stack.yaml.lock
/genesis.*
logs/

/db
/db-[0-9]
/launch_*
/state-*
/cluster
/cluster.*
/benchmark*.log*

/benchmarking/chain-sync/state-node-mainnet/

tags
/config
/data
