.stack-work/
.ghc.environment.*
/cabal.project.diff
/cabal.project.local
/cabal.project.old
configuration/defaults/simpleview/genesis/
configuration/defaults/liveview/genesis/
/dist-newstyle/
dist/
*~
\#*
\.#*
*.swp
.dir-locals.el
/result*
/launch-*
stack.yaml.lock

/db
/db-[0-9]
/logs
/profile
/launch_*
/state-*
/cluster
/cluster.*

tags
/config
/data
