body {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 17px;
    color: #ddd;
    background-color: #222222;
}

.w3-small {
    font-size: 13px!important;
}

#output-table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#output-table td {
    color: #ccc;
    vertical-align: middle;
    border-bottom: 1px solid #666;
    padding-top: 12px;
    padding-bottom: 12px;
}

#output-table td:last-child {
    text-align: right;
    min-width: 200px;
}

#main-section.table-row {
    padding: 2px;
}

.iohk-logo {
    max-width: 211px;  
}

.key-value-separator {
    padding-left: 12px;
    padding-right: 12px;
}

.iohk-monitoring {
    text-align: right;
    padding-top: 34px;
    font-size: 110%;
}

.edit-item-button {
    min-width: 68px;
}

.save-item-button {
    min-width: 80px;
}

.big {
    font-size: 110%;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

/* Custom dropdown */
.severity-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
}

.severity-dropdown select {
    background-color: #6597b5;
    color: #fff;
    font-size: inherit;
    padding: .25em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
    /*Hiding the select arrow default implementation*/
    appearance: none;
}
/*Hiding the select arrow for IE10*/
.severity-dropdown select::-ms-expand {
    display: none;
}

.severity-dropdown::before,
.severity-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.severity-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.1em;
    top: 50%;
    margin-top: -.5em;
}

.severity-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
}

.severity-dropdown::after {
    color: rgba(0,0,0,.6);
}