name: Check HLint

on:
  push:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-20.04

    defaults:
      run:
        shell: bash

    steps:

    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libtinfo6

    - name: 'Set up HLint'
      uses: rwe/actions-hlint-setup@v1
      with:
        version: 3.5

    - name: 'Run HLint'
      uses: rwe/actions-hlint-run@v2
