name: Check mainnet configuration

on:
  push:

jobs:
  doc-only-changes:
    runs-on: ubuntu-latest

    outputs:
        should_skip: ${{ steps.skip_check.outputs.should_skip }}

    steps:
    - name: Check if only documentation changes
      id: skip_check
      uses: fkirc/skip-duplicate-actions@v5
      with:
        paths_ignore: '["**/*.md", "**/*.rst", "**/LICENSE", "**/NOTICE"]'

  build:
    if: needs.doc-only-changes.outputs.should_skip != 'true'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - name: Install Nix
      uses: cachix/install-nix-action@v16
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          experimental-features = nix-command flakes
          allow-import-from-derivation = true
          substituters = https://cache.nixos.org https://cache.iog.io
          trusted-public-keys = iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

    - uses: actions/checkout@v2

    - name: Refresh cardano-node mainnet configuration
      run: |
        nix build --no-update-lock-file .#hydraJobs.cardano-deployment
        SOURCE=$(pwd)/result
        TARGET=$(pwd)/configuration/cardano

        copyFile() {
          echo $1
          cp ${SOURCE}/$1 ${TARGET}/$1
        }

        copyFile "mainnet-alonzo-genesis.json"
        copyFile "mainnet-byron-genesis.json"
        copyFile "mainnet-config.json"
        copyFile "mainnet-shelley-genesis.json"
        copyFile "mainnet-topology.json"

    - name: Check mainnet for mainnet configuration differences
      run: |
        git diff --exit-code
