name: Check git dependencies

on:
  push:
  merge_group:

# Limit concurrent runs of this workflow within a single PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - uses: actions/checkout@v2

    - name: Check git dependencies
      run: |
        .github/bin/check-git-dependencies
