name: Check Markdown links

on:
  pull_request: # Required for workflows to be able to be approved from forks
  merge_group:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: yes
        config-file: '.github/mlc_config.json'
