name: Post Release Upload
# This makes it easy to get download release binaries built using
# a github action for any tagged commit.
#
# This workflow builds and uploads the macOS, win and linux
# binary packages as github assets.
#
# It uses `--builders "" --max-jobs 0` to ensure the assets are
# from the IOG cache.
on:
  workflow_dispatch:
  release:
    types:
      - published
  push:
    tags:
      - '**'
env:
  # Only to avoid some repetition
  FLAKE_REF: github:${{ github.repository }}/${{ github.ref_name }}
  GH_TOKEN: ${{ github.token }}

jobs:
  wait-for-hydra:
    name: "Wait for hydra check-runs"
    runs-on: ubuntu-latest
    steps:
    - name: Waiting for ci/hydra-build:required to complete
      run: |
        while [[ true ]]; do
          check_name='ci/hydra-build:required'
          conclusion=$(gh api "repos/$GITHUB_REPOSITORY/commits/$GITHUB_SHA/check-runs?check_name=$check_name" --paginate --jq '.check_runs[].conclusion')
          case "$conclusion" in
            success)
              echo "$check_name succeeded"
              exit 0;;
            '')
              echo "$check_name pending. Waiting 30s..."
              sleep 30;;
            *)
              echo "$check_name terminated unsuccessfully"
              exit 1;;
          esac
        done

  pull:
    needs: [wait-for-hydra]
    strategy:
      matrix:
        arch:
          - linux-arm64
          - linux-x64
          - macos-arm64
          - macos-x64
          - win-x64
    name: "Download Asset from the Cache"
    runs-on: ubuntu-latest
    outputs:
      node_version: ${{ steps.cardano-node-version.outputs.VERSION }}
    steps:
      - name: Install Nix with good defaults
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            substituters = https://cache.iog.io/ https://cache.nixos.org/
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Display flake metadata
        id: flake-metadata
        run: |
          nix flake metadata ${{ env.FLAKE_REF }}
          nix flake metadata ${{ env.FLAKE_REF }} --json | jq -r '"LOCKED_URL=\(.url)"' >> "$GITHUB_OUTPUT"
      - name: Display cardano-node version
        id: cardano-node-version
        run: |
          VERSION=$(nix eval --raw ${{ steps.flake-metadata.outputs.LOCKED_URL }}#legacyPackages.x86_64-linux.cardanoNodePackages.cardano-node.identifier.version)
          echo "$VERSION"
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Build
        run: |
          case ${{ matrix.arch }} in
            linux-arm64)
              nix build --builders "" --max-jobs 0 ${{ steps.flake-metadata.outputs.LOCKED_URL }}#hydraJobs.aarch64-linux.musl.cardano-node-linux
              cp result/cardano-node-*-*.tar.gz cardano-node-${{ steps.cardano-node-version.outputs.VERSION }}-linux-arm64.tar.gz
              ;;
            linux-x64)
              nix build --builders "" --max-jobs 0 ${{ steps.flake-metadata.outputs.LOCKED_URL }}#hydraJobs.x86_64-linux.musl.cardano-node-linux
              cp result/cardano-node-*-*.tar.gz cardano-node-${{ steps.cardano-node-version.outputs.VERSION }}-linux-x64.tar.gz
              ;;
            macos-arm64)
              nix build --builders "" --max-jobs 0 ${{ steps.flake-metadata.outputs.LOCKED_URL }}#hydraJobs.aarch64-darwin.native.cardano-node-macos
              cp result/cardano-node-*-*.tar.gz cardano-node-${{ steps.cardano-node-version.outputs.VERSION }}-macos-arm64.tar.gz
              ;;
            macos-x64)
              nix build --builders "" --max-jobs 0 ${{ steps.flake-metadata.outputs.LOCKED_URL }}#hydraJobs.x86_64-darwin.native.cardano-node-macos
              cp result/cardano-node-*-*.tar.gz cardano-node-${{ steps.cardano-node-version.outputs.VERSION }}-macos-x64.tar.gz
              ;;
            win-x64)
              nix build --builders "" --max-jobs 0 ${{ steps.flake-metadata.outputs.LOCKED_URL }}#hydraJobs.x86_64-linux.windows.cardano-node-win
              cp result/cardano-node-*-*.zip cardano-node-${{ steps.cardano-node-version.outputs.VERSION }}-win-x64.zip
              ;;
          esac
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}-${{ matrix.arch }}
          path: cardano-node-*-*-*.*
          retention-days: 1

  upload-assets:
    needs: [pull]
    name: "Upload Assets"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - name: Checksums
        run: |
          sha256sums_filename="cardano-node-${{ needs.pull.outputs.node_version }}-sha256sums.txt"
          sha256sum cardano-node-* >> "$sha256sums_filename"
      - name: Release
        uses: input-output-hk/action-gh-release@v1
        with:
          draft: true
          files: |
            cardano-node-*-linux-arm64.tar.gz
            cardano-node-*-linux-x64.tar.gz
            cardano-node-*-macos-arm64.tar.gz
            cardano-node-*-macos-x64.tar.gz
            cardano-node-*-sha256sums.txt
            cardano-node-*-win-x64.zip
